
<h1>Ajouter une ville</h1>
<div>
    {{form (form)}}
</div>


 <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs bg-gray">
                            <li class="active"><a href="#general" data-toggle="tab">Général</a></li>
                            <li><a href="#infoContrat" data-toggle="tab">Contrat</a></li>
                            <li><a href="#infoRachatTotal" data-toggle="tab">Rachat Total</a></li>
                          
                        </ul>
                        <div class="tab-content">